@use "global" as *;

.c-page-ja {
  font-size: rem(34);
  color: $black;
  font-weight: 700;
  letter-spacing: 0.04em;
  display: block;
  line-height: 2;
  @include mq(md) {
    font-size: rem(60);
    line-height: 1;
  }
}
.c-page-ja--figures {
  font-size: rem(24);
  @include mq(md) {
    font-size: rem(60);
  }
}
.c-page-ja + .c-page-ja {
  margin-top: rem(-20);
  @include mq(md) {
    margin-top: rem(28);
  }
}
