@use "../global" as *;

.l-inner {
  max-width: rem(600);
  width: 100%;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
  @include mq("md") {
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}
.l-single-inner {
  max-width: rem(1140);
}
.l-gradation-inner {
  padding-left: rem(4);
  padding-right: rem(4);
  @include mq("md") {
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}
.l-story-inner {
  max-width: rem(1350);
}