@use "../global" as *;

.p-about-service {
  padding-top: rem(70);
  padding-bottom: rem(70);
  background: #F2F2F2;
  @include mq(md){
    padding-top: rem(100);
    padding-bottom: rem(100);
  }
}

.p-about-service__inner {
  @include mq(md){
    max-width: rem(1150);
  }
}

.p-about-service__title {

}

.c-section-title {

}

.p-about-service__title .c-section-title__en {
  font-size: rem(52);
  @include mq(md){
    font-size: rem(80);
  }
}

.p-about-service__title .c-section-title__ja {
  display: block;
  margin-top: rem(12);
  @include mq(md){
    margin-top: rem(24);
  }
}

.p-about-service__read {
  margin-top: rem(30);
  font-size: rem(15);
  line-height: 2.1;
  letter-spacing: 0.04em;
  font-weight: 700;
  @include mq(md){
    margin-top: rem(32);
    font-size: rem(16);
    line-height: 2.2;
  }
}

.p-about-service__read span {
  margin: 0 rem(4);
  padding: rem(4) rem(8) rem(5);
  color: $white;
  line-height: 1.75;
  background-image: linear-gradient(#3061CA);
  background-size: 100% 100%; // 初期状態は横幅0
  background-position: 100%;
  background-repeat: no-repeat;
  display: inline;
  @include mq(md){
    margin: 0 rem(4);
    padding: rem(2) rem(8);
  }
}

.p-about-service__wrap {
  margin-top: rem(70);
  display: flex;
  flex-direction: column;
  row-gap: rem(70);
  @include mq(md){
    max-width: rem(1076);
    margin-inline: auto;
    margin-top: rem(60);
    flex-direction: row;
    column-gap: rem(76);
  }
}

.p-about-service__block {
  padding: rem(40) rem(15) rem(30);
  background: #413C37;
  position: relative;
  @include mq(md){
    padding: rem(40) rem(30) rem(45);
  }
}

.p-about-service__block:nth-child(1) {
  @include mq(md){
    width: rem(340);
  }
}

.p-about-service__block:nth-child(2) {
  @include mq(md){
    width: rem(660);
  }
}

.p-about-service__block-head {
  width: rem(160);
  height: rem(86);
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent url(../images/about/icon_rhombus.png) no-repeat center center / cover;
  position: absolute;
  top: 0;
  left: rem(-17);
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -52%);
  @include mq(md){
    width: rem(160);
    height: rem(86);
    top: 0;
    left: rem(-24);
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -42%);
  }
}

.p-about-service__block-title {
  font-size: rem(17);
  color: $white;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.04em;
  font-weight: 500;
  position: relative;
  top: rem(4);
  @include mq(md){
    font-size: rem(17);
  }
}

.p-about-service__block-read {
  font-size: rem(18);
  color: $white;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 700;
  @include mq(md){
    font-size: rem(18);
  }
}

.p-about-service__block-read span {
  font-size: rem(15);
}

.p-about-service__block-text {
  margin-top: rem(10);
  font-size: rem(15);
  color: $white;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  @include mq(md){
    margin-top: rem(16);
    font-size: rem(16);
  }
}

.p-about-service__block-wrap {
  margin-top: rem(20);
  display: flex;
  flex-direction: column;
  row-gap: rem(40);
  @include mq(md){
    margin-top: rem(20);
    flex-direction: row;
    column-gap: rem(40);
  }
}

.p-about-service__block-img {

}

.p-about-service__block-img figcaption {
  margin-bottom: rem(8);
  font-size: rem(17);
  color: $white;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 700;
  @include mq(md){
    margin-bottom: rem(10);
    font-size: rem(17);
  }
}

.p-about-service__block-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 305 / 201;
  @include mq(md){
    aspect-ratio: 280 / 185;
  }
}