@use "../global" as *;

.p-article {

}

.p-article p {
  margin-bottom: rem(24);
  font-size: rem(15);
  line-height: 1.8;
  font-weight: 500;
  @include mq(md){
    margin-bottom: rem(30);
    font-size: rem(15);
  }
}

.p-article p a {
  background: linear-gradient(to Right, #0087C1, #033FC2);
  background-size: 100% 1px;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline;
  position: relative;
  border-bottom: 1px solid #0087C1;
}



.p-article #toc_container {
  margin-bottom: rem(97);
  padding: rem(44) rem(42) rem(80);
  background: #e4f1ea;
  @include mq(md){
    margin-bottom: rem(80);
    padding: rem(25) rem(20) rem(40);
  }
}

.p-article #toc_container .toc_title {
  margin-bottom: 0;
  font-size: rem(25);
  text-align: center;
  line-height: 1;
  font-weight: bold;
  @include mq(md){
    font-size: rem(20);
  }
}

.p-article #toc_container .toc_list {
  counter-reset: number 0; /* number のカウンタを 0 にセット */
  margin-top: rem(37);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: rem(24);
}

.p-article #toc_container .toc_list li {
  font-size: rem(16);
  color: #424242;
  position: relative;
  @include mq(md){
    font-size: rem(15);
  }
}

.p-article #toc_container .toc_list li:before {
  counter-increment: number 1;
  content: counter(number) ".";
  position: absolute;
  top: 0;
  left: 0;
}

.p-article #toc_container .toc_list li a {
  padding-left: rem(30);
  font-size: rem(16);
  color: #424242;
  position: relative;
  @include mq(md){
    padding-left: rem(20);
    font-size: rem(15);
  }
}

.p-article h2 {
  margin-bottom: rem(19);
  padding: rem(3) rem(6) rem(4);
  font-size: rem(18);
  color: $white;
  line-height: 1.7;
  letter-spacing: 0;
  font-weight: 700;
  background: #3264CA;
  position: relative;
  @include mq(md){
    margin-bottom: rem(22);
    padding: 0 rem(6);
    font-size: rem(24);
  }
}

.p-article h3 {
  margin-top: rem(32);
  margin-bottom: rem(22);
  padding-left: rem(25);
  padding-bottom: rem(14);
  font-size: rem(18);
  line-height: 1.7;
  letter-spacing: 0;
  font-weight: 700;
  position: relative;
  border-bottom: 1px solid #A5A5A4;
  @include mq(md){
    margin-top: rem(40);
    margin-bottom: rem(18);
    padding-left: rem(24);
    padding-bottom: rem(10);
    font-size: rem(20);
  }
}

.p-article h3::before {
  content: "";
  width: rem(10);
  height: rem(10);
  border-radius: 50%;
  background: linear-gradient(to Right, #0087C1, #033FC2);
  position: absolute;
  top: rem(12);
  left: 0;
  @include mq(md){
    width: rem(10);
    height: rem(10);
  }
}

.p-article h4 {
  margin-bottom: rem(4);
  font-size: rem(16);
  line-height: 1.7;
  letter-spacing: 0;
  font-weight: 700;
  background: linear-gradient(to Right, #0087C1, #033FC2);
  background-size: 100% 1px;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  position: relative;
  @include mq(md){
    margin-bottom: rem(8);
    font-size: rem(18);
  }
}

.p-article .wp-block-flexible-table-block-table {
  margin-bottom: rem(26);
  // overflow-x: auto;
  @include mq(md){
    margin-bottom: rem(34);
  }
}

.p-article .wp-block-flexible-table-block-table table {
  // min-width: rem(360);
  @include mq(md){
    min-width: 100%;
  }
}

.p-article .wp-block-flexible-table-block-table.wp-block-flexible-table-block-table>table tr th,
.p-article .wp-block-flexible-table-block-table.wp-block-flexible-table-block-table>table tr td {
  // width: rem(120);
  min-height: rem(56);
  padding: rem(6) rem(8);
  font-size: rem(14);
  text-align: center;
  letter-spacing: 0;
  line-height: 1.7;
  font-weight: 500;
  border-color: #D1D1D1;
  @include mq(md){
    width: auto;
    padding: rem(5.5) rem(10);
    font-size: rem(15);
  }
}

.p-article .wp-block-flexible-table-block-table.wp-block-flexible-table-block-table>table tr th {
  padding: rem(8) rem(8);
  background: linear-gradient(135deg, #DFF3FF, #E5EDFF);
  @include mq(md){
    padding: rem(7) rem(10);
  }
}

.p-article .wp-block-image {
  margin-bottom: rem(28);
  @include mq(md){
    margin-inline: auto;
    margin-bottom: rem(28);
  }
}

.p-article .wp-block-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.p-article .wp-element-caption {
  margin-top: rem(12);
  font-size: rem(13);
  line-height: calc(21 / 13);
  @include mq(md){
    margin-top: rem(8);
    font-size: rem(13);
    line-height: calc(21 / 13);
  }
}

.p-article .wp-block-list {
  margin-bottom: rem(26);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: rem(2);
  counter-reset: number 0;
  @include mq(md){
    margin-bottom: rem(24);
    row-gap: rem(2);
  }
}

.p-article ol.wp-block-list {
  row-gap: rem(4);
  @include mq(md){
    row-gap: rem(4);
  }
}

.p-article .wp-block-list li {
  padding-left: rem(17);
  font-size: rem(15);
  line-height: 1.7;
  letter-spacing: 0;
  font-weight: 500;
  position: relative;
  @include mq(md){
    padding-left: rem(15);
    font-size: rem(15);
  }
}

.p-article ul.wp-block-list li::before {
  content: "";
  width: rem(6);
  height: rem(6);
  background: linear-gradient(to Right, #0087C1, #033FC2);
  border-radius: 50%;
  position: absolute;
  top: rem(9);
  left: 0;
  @include mq(md){
    width: rem(6);
    height: rem(6);
    top: rem(10);
  }
}

.p-article ol.wp-block-list li {
  padding-left: rem(20);
  @include mq(md){
    padding-left: rem(22);
  }
}

.p-article ol.wp-block-list li::before {
  counter-increment: number 1;
  content: counter(number) ".";
  font-size: rem(15);
  line-height: 1.7;
  letter-spacing: 0;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0;
  @include mq(md){
    font-size: rem(15);
  }
}

.p-article .wp-block-table {
  margin-bottom: rem(26);
  @include mq(md){
    margin-bottom: rem(40);
  }
}

.p-article .wp-block-table table th,
.p-article .wp-block-table table td {
  padding: rem(7) rem(12);
  font-size: rem(15);
  color: #575757;
  line-height: calc(22 / 15);
  letter-spacing: 0.08em;
  font-weight: 500;
  border-color: #F3F3F3;
  @include mq(md){
    min-height: rem(56);
    padding: rem(13.5) rem(10);
    font-size: rem(16);
    text-align: center;
    line-height: calc(24 / 16);
  }
}

.p-article .wp-block-quote {
  margin-bottom: rem(80);
  padding: rem(19) rem(36);
  background: #eeeeee;
  @include mq(md){
    margin-bottom: rem(50);
  }
}

.p-article .wp-block-quote p {
  margin-bottom: rem(42);
  font-size: rem(14);
  line-height: calc(35 / 14);
  @include mq(md){
    margin-bottom: rem(20);
    font-size: rem(16);
    line-height: 2;
  }
}

.p-article .wp-block-preformatted {
  padding: rem(19) rem(36);
  font-size: rem(14);
  color: #424242;
  line-height: calc(35 / 14);
  background: #eeeeee;
  @include mq(md){
    padding: rem(15) rem(25);
    font-size: rem(13);
    line-height: 2;
  }
}

.p-article .wp-block-embed {
  margin-top: rem(30);
  margin-bottom: rem(34);
  @include mq(md){
    margin-top: rem(30);
    margin-bottom: rem(34);
  }
}

.p-article .wp-block-embed iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 335 / 185;
  @include mq(md){
    aspect-ratio: 780 / 430;
  }
}