@use "../global" as *;

.p-career {
  background: #f2f2f2;
  padding-top: rem(70);
  padding-bottom: rem(70);
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(100);
  }
}

.p-career__content {
  max-width: rem(1100);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.p-career__title {
}

.p-career__text-wrapper {
  margin-top: rem(42);
}

.p-career__text {
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 2;
  color: $black;
  font-size: rem(15);
  @include mq(md) {
    font-size: rem(16);
  }
}

.p-career__block-wrapper {
  margin-top: rem(70);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.p-career__block {
}
.p-career__block + .p-career__block {
  margin-top: rem(70);
  @include mq(md) {
    margin-top: rem(100);
  }
}

.p-career__block-title {
  border-bottom: 1px solid #a5a5a4;
  padding-bottom: rem(20);
  position: relative;
}
.p-career__block-title::before {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #0087c1 0%, #033fc2 100%);
  width: rem(123);
  height: 2px;
  bottom: -1px;
  left: 0;
}

.p-career__block-img {
  max-width: rem(1020);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(48);
  }
}
.p-career__block-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-career__steps-lists {
  display: grid;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(1, 1fr);
  margin-top: rem(40);
  gap: rem(16);
  @include mq(md) {
    margin-top: rem(60);
    gap: rem(47);
    grid-template-columns: repeat(2, 1fr);
    max-width: rem(963);
  }
}

.p-career__steps-list {
}

.p-career__steps-top {
  display: flex;
  align-items: center;
  gap: rem(16);
}

.p-career__steps-num {
}

.p-career__steps-list-title {
  background: linear-gradient(to right, #0087c1 0%, #033fc2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  line-height: 2;
  font-family: $second-font-family;
  font-size: rem(12);
  @include mq(md) {
    font-size: rem(16);
  }
}

.p-career__steps-list-num {
  background: linear-gradient(to right, #0087c1 0%, #033fc2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1;
  font-family: $second-font-family;
  font-size: rem(32);
  @include mq(md) {
    font-size: rem(42);
  }
}

.p-career__steps-title {
  font-weight: 700;
  color: $black;
  line-height: 2;
  letter-spacing: 0.04em;
  font-size: rem(18);
  margin-top: rem(28);
  @include mq(md) {
    font-size: rem(20);
  }
}
.p-career__steps-title span {
  font-family: $second-font-family;
}
.p-career__steps-line {
  display: none;
  @include mq(md) {
    display: block;
    width: rem(90);
    height: 1px;
    background: #000;
  }
}
.p-career__steps-line--sp {
  display: block;
  width: 1px;
  height: rem(42);
  margin-left: auto;
  margin-right: auto;
  background: #000;
  margin-top: rem(16);
  @include mq(md){
    display: none;
  }
}

.p-career__steps-detail {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: rem(15);
  height: rem(94);
  margin-top: rem(37);
  padding-bottom: rem(31);
  @include mq(md) {
    padding-bottom: rem(29);
    margin-top: rem(138);
  }
}

.p-career__steps-important {
  background: #413c37;
  color: #fff;
  width: rem(100);
  height: rem(34);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.04em;
  border-radius: 9999px;
  font-size: rem(16);
  margin-top: rem(-24);
  @include mq(md) {
    font-size: rem(18);
    margin-top: rem(-14);
  }
}

.p-career__steps-elect {
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.04em;
  margin-top: rem(8);
  color: $black;
  font-size: rem(16);
  @include mq(md) {
    margin-top: initial;
    font-size: rem(20);
  }
}

.p-career__lists {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(27);
  }
}

.p-career__list {
  background: #0084c1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: rem(94);
}
.p-career__list + .p-career__list {
  margin-top: rem(14);
  @include mq(md) {
    margin-top: rem(20);
  }
}
.p-career__list-title {
  color: #fff;
  letter-spacing: 0.04em;
  line-height: 1.6;
  font-weight: 700;
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(20);
  }
}

.p-career__list-text {
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.04em;
  color: #fff;
  font-size: rem(14);
  text-align: center;
  @include mq(md) {
    text-align: initial;
    font-size: rem(16);
  }
}

.p-career__bottom-img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(40);
  @include mq(md) {
    max-width: rem(963);
    margin-top: rem(60);
  }
}
.p-career__bottom-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-career__qualification-lists {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(40);
  display: flex;
  flex-direction: column;
  gap: rem(10);
  @include mq(md) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: rem(59);
    row-gap: rem(18);
    max-width: rem(844);
    margin-top: rem(44);
  }
}

.p-career__qualification-list {
  color: $black;
  font-weight: 500;
  line-height: 2;
  font-size: rem(16);
  letter-spacing: 0.04em;
  position: relative;
  padding-left: rem(22);
}
.p-career__qualification-list::before {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #0087c1 0%, #033fc2 100%);
  width: rem(6);
  height: rem(6);
  border-radius: 9999px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
