@use "../global" as *;

.p-form__list {
  padding-top: rem(24);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: rem(24);
  border-top: 1px solid #E2E2E2;
  @include mq(md){
    row-gap: rem(24);
  }
}

.p-form__item {
  padding-bottom: rem(24);
  border-bottom: 1px solid #E2E2E2;
}

.p-form__item dl {
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  @include mq(md){
    flex-direction: row;
    justify-content: space-between;
  }
}

.p-form__head {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  @include mq(md){
    width: calc(250 / 1050 * 100%);
  }
}

.form_note .p-form__head {
  align-items: flex-start;
  @include mq(md){
    padding-top: rem(22);
  }
}

.p-form__head__title {
  width: 100%;
  display: inline-block;
  font-size: rem(15);
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  @include mq(md){
    font-size: rem(15);
  }
}

.p-form__head__title p {
  width: 100%;
  display: -webkit-box;
  display: flex;
  align-items: center;
}

.p-form span.required,
.p-form span.any {
  width: rem(40);
  margin-top: rem(2);
  padding: rem(4) 0 rem(5);
  margin-right: rem(15);
  font-size: rem(13);
  color: $white;
  line-height: 1.0;
  font-weight: 400;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  @include mq(md){
    width: rem(40);
    margin-top: 0;
    margin-right: rem(20);
  }
}

.p-form span.required {
  background-color: #0087C1;
}

.p-form span.any {
  background-color: #C2C6BE;
}

.p-form__body {
  width: 100%;
  margin-top: rem(15);
  display: -webkit-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  @include mq(md){
    margin-top: 0;
    width: calc(770 / 1050 * 100%);
    justify-content: flex-start;
    flex-direction: column;
  }
}

.form_years .p-form__body {
  justify-content: flex-start;
  column-gap: rem(16);
  flex-wrap: nowrap;
  @include mq(md){
    flex-direction: row;
    column-gap: rem(40);
    flex-wrap: wrap;
  }
}

.form_requirement .p-form__body {
  row-gap: rem(24);
  @include mq(md){
    row-gap: rem(14);
  }
}

.p-form__body .mw_wp_form .error {
  margin-top: rem(5);
}

/******************* form base *******************/ 
.p-form .wpcf7-form-control-wrap {
  width: 100%;
}

.p-form .form_age .wpcf7-form-control-wrap,
.p-form .form_years .wpcf7-form-control-wrap {
  width: auto;
}

.p-form .form_requirement .wpcf7-form-control-wrap {
  flex-wrap: wrap;
}

.p-form input,
.p-form textarea,
.p-form select {
  width: 100%;
  height: rem(66);
  padding: rem(10) rem(20);
  font-size: rem(14);
  color: $black;
  line-height: 1.0;
  font-weight: 500;
  font-family: $base-font-family;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
  @include mq(md){
    height: rem(46);
    padding: rem(10) rem(27);
  }
}
.p-form ::placeholder{
  color: #C0C0C0;
}

.p-form .wpcf7 input[type="file"] {
  height: auto;
  padding: 0;
  background-color: $white;
}

.p-form input[type="checkbox"] {
  width: rem(16);
  height: rem(16);
  padding: 0;
  margin-right: rem(10);
  border-radius: rem(2);
  border: rem(1) solid #CCCCCC;
  vertical-align: middle;
}

.p-form input.required,
.p-form textarea.required,
.p-form select.required {
  background-color: #F9D5D5;
}

.p-form textarea {
  height: rem(200);
  line-height: 1.6;
  @include mq(md){
    height: rem(200);
  }
}

.p-form .form_age input,
.p-form .form_tel input,
.p-form .form_mail input,
.p-form .form_years input {
  font-family: $second-font-family;
}

.p-form .form_age input,
.p-form .form_years input {
  width: rem(165);
  padding: rem(10) rem(16);
  @include mq(md){
    width: rem(100);
  }
}

.p-form .form_years input {
  width: rem(100);
}

.p-form select {
  appearance: none;
  background: url(../images/contact/arrow_select.svg) 96% 50% no-repeat;
  background-size: auto;
  -webkit-background-size: rem(20);
  background-size: rem(20);
  font-size: rem(16);
  color: #000;
  line-height: 2.0;
  letter-spacing: 0.1em;
  cursor: pointer;
  &::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-size: rem(16);
    color: $black;
    cursor: pointer;
  }
  @include mq(md){
    width: 100%;
    line-height: 1.0;
    background: url(../images/contact/arrow_select.svg) 94% 50% no-repeat;
    -webkit-background-size: rem(15);
    background-size: rem(15);
  }
}

.p-form select {
  @include mq(md){
    font-size: rem(14);
  }
}

.mw_wp_form .error {
  width: 100%;
}

.wpcf7-radio {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: rem(20);
  @include mq(md){
    display: flex;
    flex-wrap: wrap;
    column-gap: rem(36);
    row-gap: rem(6);
  }
}

.wpcf7-radio .wpcf7-list-item {
  margin: 0;
  display: flex;
}

.wpcf7-radio .wpcf7-list-item:nth-child(n+2) {
  margin-top: 0;
}

.wpcf7-radio .wpcf7-list-item label {
  display: flex;
  align-items: center;
}

.wpcf7-radio .wpcf7-list-item label input {
  width: rem(20);
  height: rem(20);
  margin: 0;
  padding: 0;
  opacity: 0; /* デフォルトのボタンを非表示 */
  position: absolute;
}

/* デフォルトのボタン */
input[type="radio"] {
  
}

/* チェック前のボタン */
.wpcf7-list-item-label {
  font-weight: 500;
  position: relative;
}

/* チェック前のボタン */
.wpcf7-list-item-label::before {
  content: "";
  width: rem(20);
  height: rem(20);
  display: inline-block;
  margin-bottom: auto;
  margin-right: rem(8);
  border: rem(1) solid #333;
  border-radius: 100%; /* ラジオボタンっぽく丸くする */
  background: #fff;
  position: relative;
  top: rem(4);
}

// チェックボックスのカスタマイズ
.wpcf7-checkbox {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: rem(12);
  @include mq(md){
    row-gap: rem(12);
  }
}

.form_sex .wpcf7-checkbox,
.form_experience .wpcf7-checkbox {
  display: flex;
  align-items: center;
  gap: rem(20);
  @include mq(md){
    gap: rem(25);
  }
}

.form_requirement .wpcf7-checkbox {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0;
  column-gap: rem(20);
  @include mq(md){
    row-gap: rem(25);
    column-gap: rem(25);
  }
}

.wpcf7-checkbox .wpcf7-list-item {
  margin: 0;
}

.wpcf7-checkbox .wpcf7-list-item label {
  cursor: pointer;
}

.wpcf7-checkbox input[type="checkbox"] {
  display: none;
}

.wpcf7-checkbox .wpcf7-list-item-label::before {
  background: $white;
  border-radius: 0;
  border: 1px solid #E2E2E2;
}

.wpcf7-checkbox input[type="checkbox"]:checked + .wpcf7-list-item-label::after {
  content: "";
  display: block;
  width: 16px;
  height: 6px;
  border-top: 3px solid #033FC2;
  border-right: 3px solid #033FC2;
  transform: rotate(135deg);
  position: absolute;
  top: rem(6);
  left: rem(2);
}

// ラジオボタンのカスタマイズ
.wpcf7-radio .wpcf7-list-item label .wpcf7-list-item-label {
  display: flex;
  align-items: center;
  position: relative;
  top: -1px;
}

.wpcf7-radio .wpcf7-list-item label .wpcf7-list-item-label::before {
  content: "";
  display: inline-block;
  background: #fff;
  border: rem(2) solid $black;
  border-radius: 100%; /* ラジオボタンっぽく丸くする */
  width: rem(16);
  height: rem(16);
  margin-bottom: auto;
  margin-right: .5em;
  margin-top: auto;
}

/* チェック後のボタン */
input[type="radio"]:checked + .wpcf7-list-item-label::before {
  background-color: $black; /* チェック後の中心の色 */
  box-shadow: inset 0 0 0 rem(3) #fff; /* 中心の色のスタイル */
}

.c-form__checkbox {
  display: inline-block;
  align-items: center;
  padding-left: rem(20);
  font-size: rem(14);
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 500;
  // gap: 0.5em;
  flex-wrap: wrap;
  position: relative;
  @include mq(md){
    padding-left: 0;
    font-size: rem(14);
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: .3s ease;
  }

  // wpcf7内で使われる input[type=checkbox] を非表示に
  input[type="checkbox"] {
    display: none;
  }

  // チェックボックスの見た目部分
  .wpcf7-list-item-label {
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    display: inline-block;

    // カスタムチェックボックスの枠
    &::before {
      content: "";
      width: 16px;
      height: 16px;
      background: #F8F8F8;
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, 0.14);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    // チェックされたときのマーク（非表示→表示）
    &::after {
      content: "";
      display: none;
      width: 12px;
      height: 6px;
      border-top: 3px solid #ED1D2F;
      border-right: 3px solid #ED1D2F;
      position: absolute;
      top: 50%;
      left: 2px;
      transform: translateY(-50%) rotate(135deg);
    }
  }

  // チェックがONのとき、マークを表示
  input[type="checkbox"]:checked + .wpcf7-list-item-label::after {
    display: block;
  }

}

.c-form__checkbox:hover {
  @include mq(md){
    opacity: 0.7;
  }
}

.wpcf7-select option:first-child {
  color: gray;
}

.wpcf7-not-valid-tip {
  
}

.form_requirement .p-form__detail:nth-child(1) .wpcf7-not-valid-tip,
.form_requirement .p-form__detail:nth-child(2) .wpcf7-not-valid-tip {
  display: none;
}

  /******************* END./form base *******************/ 



.p-form__head__text {
  margin-top: rem(5);
  font-size: rem(14);
  line-height: calc(26 / 14);
  letter-spacing: 0.07em;
  font-weight: 500;
  @include mq(md){
    margin-top: rem(10);
    font-size: rem(16);
    line-height: calc(30 / 16);
    letter-spacing: 0.08em;
  }
}

.p-form__detail {
  width: 100%;
  display: -webkit-box;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: rem(10);
  row-gap: rem(30);
  @include mq(md){
    column-gap: rem(13);
    row-gap: rem(20);
  }
}

.form_requirement .p-form__detail {
  row-gap: rem(8);
  @include mq(md){
    row-gap: rem(8);
  }
}

.form_years .p-form__detail,
.form_pdf .p-form__detail {
  width: auto;
  @include mq(md){
    flex-wrap: nowrap;
  }
}

.form_years .p-form__detail:nth-child(1) {
  min-width: rem(110);
}

.form_years .p-form__detail:nth-child(2) {
  min-width: rem(125);
}

.form_pdf .p-form__detail {
  width: 100%;
  row-gap: rem(10);
  font-size: rem(13);
  font-weight: 700;
  @include mq(md){
    font-size: rem(14);
  }
}

.p-form .form_pdf .wpcf7-form-control-wrap {
  width: auto;
}


.p-form__detail p {
  width: 100%;
  display: -webkit-box;
  display: flex;
  align-items: center;
}

.form-hope__title {
  width: rem(80);
  margin-right: rem(30);
  margin-left: rem(5);
  font-size: rem(16);
  line-height: 2.0;
  letter-spacing: 0.1em;
  @include mq(md){
    margin-right: rem(15);
    margin-left: 0;
    font-size: rem(14);
  }
}

.p-form__body__text {
  width: 100%;
  margin-top: rem(10);
  font-size: rem(15);
  color: $black;
  line-height: 2.0;
  letter-spacing: 0.05em;
  @include mq(md){
    margin-top: 0;
    font-size: rem(16);
    letter-spacing: 0.1em;
  }
}

.p-form__detail_name {
  width: rem(353);
  font-size: rem(16);
  line-height: 2.0;
  letter-spacing: 0.005em;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  @include mq(md){
    width: 100%;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.p-form__detail_name:nth-child(n+2) {
  @include mq(md){
    margin-top: rem(10);
  }
}

.form-name__title {
  margin-right: auto;
  font-size: rem(16);
  color: $black;
  line-height: 2.0;
  letter-spacing: 0.005em;
  @include mq(md){
    font-size: rem(14);
  }
}

.p-form__item.form_name .form-name__title {
  margin-right: rem(35);
}
.p-form__item.form_kana .form-name__title {
  margin-right: rem(20);
}

.p-form__policy {
  display: block;
  font-size: rem(14);
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 500;
  position: relative;
  @include mq(md){
    margin-top: rem(60);
    font-size: rem(14);
  }
}

// .p-form .p-form__policy span.wpcf7-list-item {
//   display: inline-block;
//   margin: 0;
// }

.p-form__policy span.wpcf7-form-control-wrap {
  width: 15px;
  height: 15px;
  display: block;
  position: relative;
  @include mq(md){
    // width: auto;
    height: 15px;
    display: inline-block;
    // display: inline;
    // position: static;
  }
}

.p-form__policy span.wpcf7-form-control-wrap .wpcf7-not-valid-tip {
  width: 100%;
  white-space: nowrap;
  position: absolute;
  bottom: rem(-60);
  left: 0;
  @media (width >= 536px) {
    bottom: rem(-42);
  }
  @include mq(md){
    bottom: rem(-28);
  }
}

.p-form__policy .wpcf7-form-control {
  width: rem(16);
  height: rem(16);
  // border: 1px solid rgba(0, 0, 0, 0.14);
  position: relative;
  @include mq(md){
  }
}

.p-form__policy .wpcf7-form-control::before {
  content: "";
  width: rem(16);
  height: rem(16);
  background: #F8F8F8;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.14);
  position: relative;
  top: rem(17);
  left: rem(-20);
  // position: absolute;
  // top: 80%;
  // left: rem(-5);
  // transform: translate(0, -50%);
  // -webkit-transform: translate(0, -50%);
  @include mq(md){
    // top: 35%;
    // left: 0;
    top: 0;
    left: rem(-6);
  }
}

.p-form__policy .wpcf7-form-control::after {
  content: "";
  width: rem(16);
  height: rem(6);
  border-top: rem(3) solid #033FC2;
  border-right: rem(2) solid #033FC2;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  top: rem(9);
  left: rem(-3);
  display: none;
  @include mq(md){
    top: rem(3);
    left: 0;
  }
}

.p-form__policy .wpcf7-form-control.is-checked::after {
  display: block;
  top: rem(20);
  left: rem(-17);
  @include mq(md){
    top: rem(2);
    left: rem(-2);
  }
}

.p-form .p-form__policy span.wpcf7-list-item {
  display: inline-block;
  margin: 0;
  position: relative;
}

.p-form__policy span.wpcf7-list-item-label {
  display: none;
}

// .p-form__policy .wpcf7-form-control {
//   width: rem(16);
//   height: rem(16);
// }

.p-form__policy a {
  display: inline-block;
  font-size: rem(14);
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: 500;
  background: linear-gradient(to Right, #0087C1, #033FC2);
  background-size: 100% 1px;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline;
  position: relative;
  transition: background .5s;
  @include mq(md){
    font-size: rem(14);
  }
}

.p-form__policy a:hover {
  @include mq(md){
    opacity: 0.7;
  }
}

// .p-form__policy .wpcf7-not-valid-tip {
//   width: rem(250);
//   position: absolute;
//   bottom: rem(-66);
//   left: 0;
//   @media (width >= 600px) {
//     bottom: rem(-40);
//   }
//   @include mq(md){
//     bottom: rem(-40);
//     left: rem(-30);
//   }
// }

.form-btn {
  width: rem(335);
  height: rem(54);
  margin-top: rem(30);
  margin-inline: auto;
  position: relative;
  @include mq(md){
    width: rem(300);
    margin-top: rem(60);
  }
}

.form-btn input {
  height: rem(54);
  font-size: rem(15);
  text-align: center;
  color: $white;
  line-height: 1.8;
  letter-spacing: 0.04em;
  font-weight: 500;
  background: linear-gradient(to Right, #0087C1, #033FC2);
  border-radius: 100px;
  position: relative;
  @include mq(md){
    font-size: rem(15);
    cursor: pointer;
  }
}

.form-btn input:hover {
  @include mq(md){
    background: $black;
  }
}