@use "../global" as *;

.p-footer {
  background: #413c37;
  padding-top: rem(70);
  position: relative;
  padding-bottom: rem(70);
  z-index: 99;
  @include mq(md) {
    padding-bottom: rem(72);
  }
}

.p-footer__content {
}

.p-footer__logo {
}

.p-footer__home {
  display: inline-block;
  width: rem(315);
  @include mq(md) {
    width: rem(368);
  }
}
.p-footer__home img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-footer__nav {
  margin-top: rem(20);
  @include mq(md) {
    display: flex;
    margin-top: rem(60);
  }
}

.p-footer__address-wrapper {
}

.p-footer__address {
  font-size: rem(14);
  line-height: 2;
  letter-spacing: 0.1em;
  color: #fff;
  font-weight: 500;
}
.p-footer__address span {
  font-family: $second-font-family;
}
.p-footer__tel-wrapper {
  display: flex;
  gap: rem(8);
}

.p-footer__tel {
  font-size: rem(14);
  font-family: $second-font-family;
  line-height: 2;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #fff;
}
.p-footer__tel--fax {
  position: relative;
  padding-left: rem(8);
}
.p-footer__tel--fax::before {
  position: absolute;
  content: "";
  background: #fff;
  width: 1px;
  height: rem(14);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.p-footer__lists {
  margin-top: rem(50);
  @include mq(md) {
    margin-top: initial;
    margin-left: auto;
    display: flex;
    gap: rem(40);
  }
}
.p-footer__lists--second {
  display: flex;
  gap: rem(40);
  @include mq(md) {
    margin-left: rem(40);
  }
}
.p-footer__lists + .p-footer__lists {
  margin-top: rem(30);
  @include mq(md) {
    margin-top: initial;
  }
}
.p-footer__list {
}

.p-footer__list-left {
}

.p-footer__list-leftList {
}
.p-footer__list-leftList + .p-footer__list-leftList {
  margin-top: rem(4);
  @include mq(md){
    margin-top: rem(12);
  }
}
.p-footer__link {
  color: #fff;
  font-size: rem(14);
  line-height: 1.8;
  font-weight: 500;
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.p-footer__link::before {
  position: absolute;
  content: "";
  background: #fff;
  width: 0;
  height: 1px;
  left: 0;
  bottom: -2px;
  transition: 0.3s ease-in-out;
}
.p-footer__link:hover {
  opacity: 1;
}
.p-footer__link:hover::before {
  width: 100%;
}
.p-footer__link span {
  font-family: $second-font-family;
}
.p-footer__out {
  display: flex;
  align-items: center;
  gap: rem(30);
  margin-top: rem(50);
  @include mq(md) {
    margin-top: rem(52);
    gap: rem(40);
  }
}

.p-footer__out-link {
  display: flex;
  align-items: center;
  gap: rem(8);
}

.p-footer__out-text {
  font-size: rem(12);
  letter-spacing: 0.04em;
  font-weight: 500;
  color: #fff;
}

.p-footer__icon {
  display: inline-block;
  width: rem(11);
}
.p-footer__icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-footer__small {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(40);
  }
}
.p-footer__small small {
  font-size: rem(12);
  letter-spacing: 0.04em;
  color: #fff;
  font-family: $second-font-family;
  font-weight: 500;
}
