@use "../global" as *;

.p-grad-recruitment {
  padding-top: rem(42);
  padding-bottom: rem(70);
  @include mq(md){
    padding-top: rem(106);
    padding-bottom: rem(100);
  }
}

.p-grad-recruitment__inner {
  @include mq(md){
    max-width: rem(1150);
  }
}

.p-grad-recruitment__head {
  border-bottom: 1px solid #000;
  @include mq(md){
    border-bottom: none;
  }
}

.p-grad-recruitment__head-list {
  display: flex;
  justify-content: center;
  gap: rem(15);
  position: relative;
  @include mq(md){
    justify-content: space-between;
    gap: 0;
  }
}

.p-grad-recruitment__head-list::after {
  @include mq(md){
    content: "";
    width: calc(20 / 1100 * 100%);
    height: 1px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
  }
}

.p-grad-recruitment__head-item {
  width: calc(150 / 335 * 100%);
  padding: rem(7) 0 rem(10);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: rem(16);
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 700;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  @include mq(md){
    width: calc(540 / 1100 * 100%);
    padding: rem(13) 0 rem(15);
    font-size: rem(24);
    border-left: none;
  }
}

a.p-grad-recruitment__head-item {
  background: $bg-gray;
  border-top: none;
  border-right: none;
  border-left: none;
  @include mq(md){
    border-bottom: 1px solid #000;
  }
}

div.p-grad-recruitment__head-item {
  @include mq(md){
    border-left: 1px solid #000;
  }
}

.p-grad-recruitment__body {
  margin-top: rem(38);
  @include mq(md){
    margin-top: rem(40);
  }
}

.p-grad-recruitment__list {
  border-top: 1px solid #D5D5D5;
}

.p-grad-recruitment__item {
  display: flex;
  border-bottom: 1px solid #D5D5D5;

}

.p-grad-recruitment__item-top {
  width: calc(85 / 335 * 100%);
  padding: rem(21) rem(5);
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #413C37;
  @include mq(md){
    width: calc(200 / 1100 * 100%);
    padding: rem(24) rem(10);
  }
}

.p-grad-recruitment__item-term {
  font-size: rem(15);
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  @include mq(md){
    font-size: rem(16);
  }
}

.p-grad-recruitment__item-bottom {
  width: calc(250 / 335 * 100%);
  padding: rem(21) rem(8) rem(21) rem(15);
  @include mq(md){
    width: calc(900 / 1100 * 100%);
    padding: rem(24) rem(40);
    display: flex;
  }
}

.p-grad-recruitment__item-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-grad-recruitment__item-bottom dl {
  display: flex;
  @include mq(md){
    gap: rem(22);
  }
}

.p-grad-recruitment__item-bottom dl:nth-child(n+2) {
  margin-top: rem(6);
  @include mq(md){
    margin-top: rem(4);
  }
}

.p-grad-recruitment__item-bottom dl dt {
  min-width: rem(70);
  font-size: rem(15);
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 700;
  @include mq(md){
    min-width: none;
    font-size: rem(16);
  }
}

.p-grad-recruitment__item-bottom dl dd {
  font-size: rem(15);
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  @include mq(md){
    font-size: rem(16);
  }
}

.p-grad-recruitment__item-text {
  font-size: rem(15);
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  @include mq(md){
    font-size: rem(16);
  }
}

.p-grad-recruitment__item-subList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: rem(5);
  @include mq(md){
    row-gap: rem(4);
  }
}

.p-grad-recruitment__item-subItem {
  padding-left: rem(13);
  font-size: rem(15);
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  position: relative;
  @include mq(md){
    padding-left: rem(13);
    font-size: rem(16);
  }
}

.p-grad-recruitment__item-subItem::before {
  content: "";
  width: rem(4);
  height: rem(4);
  background: $black;
  border-radius: 50%;
  position: absolute;
  top: rem(10);
  left: 0;
}

.p-grad-recruitment__item--sm {
  display: inline-block;
  font-size: rem(14);
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  @include mq(md){
    font-size: rem(12);
  }
}

.p-grad-recruitment__item-banner {
  display: inline-block;
  margin-top: rem(8);
  padding: rem(5) rem(8) rem(8);
  font-size: rem(15);
  color: $white;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.04em;
  font-weight: 500;
  border-radius: rem(4);
  background: linear-gradient(135deg, #0087C1, #033FC2);
  @include mq(md){
    margin-top: 0;
    margin-left: rem(28);
    padding: rem(9) rem(12) rem(8) rem(11);
    font-size: rem(16);
    line-height: 1.5;
  }
}