@use "global" as *;

.p-header {
  height: rem(80);
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  border-bottom: 1px solid #c4c0bd;
  transition: 0.3s ease-in-out;
  backdrop-filter: initial;
}
.p-header.is-active {
  backdrop-filter: blur(16px);
  background: rgba($color: #fff, $alpha: 0.7);
}

.p-header__inner {
  padding-left: rem(40);
  padding-right: rem(40);
  height: inherit;
}

.p-header__content {
  display: flex;
  align-items: center;
  height: inherit;
}

.p-header__logo {
  display: flex;
}

.p-header__home {
  display: flex;
  max-width: rem(368);
  width: 100%;
}
.p-header__home svg {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-header__nav {
  height: inherit;
  display: none;
  @include mq(md) {
    display: block;
    margin-left: min(rem(203), calc(203 / 1440) * 100vw);
    margin-right: rem(40);
  }
}

.p-header__lists {
  display: flex;
  gap: rem(30);
  height: inherit;
}

.p-header__list {
  height: inherit;
}

.p-header__link {
  color: #fff;
  font-size: rem(14);
  font-weight: 500;
  font-family: $second-font-family;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  transition: 0.3s ease-in-out;
}
.p-header__link.is-active {
  color: #413c37;
}
.p-header__path {
  fill: #fff;
  transition: 0.3s ease-in-out;
}
.p-header__path.is-active {
  fill: #413c37;
}

.p-header__btn {
  margin-left: auto;
}

.p-header__btn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(120);
  height: rem(24);
  background: #fff;
  border-radius: 9999px;
}

.p-header__btn-text {
  color: #413c37;
  font-size: rem(14);
  font-weight: 500;
  font-family: $second-font-family;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.04em;
}
