@use "global" as *;

.p-hear {
  padding-top: rem(60);
}
.p-hear__inner {
  max-width: rem(1340);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: rem(20);
  padding-right: rem(20);
}
.p-hear__content {
}

.p-hear__top {
  text-align: center;
  max-width: rem(663);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.p-hear__title {
  color: #fff;
  font-size: rem(30);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.04em;
}

.p-hear__topImg {
  max-width: rem(634);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(40);
}
.p-hear__topImg img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-hear__block-wrapper {
  margin-top: rem(40);
}

.p-hear__block {
  position: relative;
  background: #413c37;
  padding-top: rem(60);
  padding-bottom: rem(60);
  padding-left: rem(100);
  padding-right: rem(100);
  display: flex;
  gap: rem(94);
}
.p-hear__block + .p-hear__block {
  margin-top: rem(20);
}
.p-hear__detail {
  max-width: rem(392);
  width: 100%;
}

.p-hear__row {
  display: flex;
  align-items: center;
  gap: rem(25);
  padding-bottom: rem(16);
  padding-left: rem(10);
  border-bottom: 1px solid #fff;
}

.p-hear__q {
  font-size: rem(28);
  color: #fff;
  font-weight: 600;
  font-family: $second-font-family;
  line-height: 1;
  text-transform: uppercase;
}

.p-hear__question-text {
  color: #fff;
  line-height: 1.5;
  font-size: rem(20);
  letter-spacing: 0.04em;
  font-weight: 700;
}

.p-hear__text-wrapper {
  background: #fff;
  padding: rem(30) rem(20);
  position: relative;
  margin-top: rem(20);
}
.p-hear__text-wrapper::before {
  position: absolute;
  content: "";
  background: url(../images/common/hear_left.png) no-repeat center center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(42);
  height: auto;
  aspect-ratio: 42 / 20;
  object-fit: cover;
  bottom: rem(32);
  right: rem(-41);
}
.p-hear__text-wrapper--right::before {
  position: absolute;
  content: "";
  background: url(../images/common/hear_right.png) no-repeat center center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(42);
  height: auto;
  aspect-ratio: 42 / 20;
  object-fit: cover;
  bottom: rem(32);
  left: rem(-41);
}

.p-hear__text {
  font-size: rem(16);
  font-weight: 500;
  color: $black;
  letter-spacing: 0.04em;
  line-height: 1.8;
}

.p-hear__img {
  margin-top: rem(120);
  max-width: rem(128);
}
.p-hear__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
