@use "global" as *;

.p-line {
  position: relative;
  --scaleX: 1;
  transform-origin: top;
  z-index: 10;
}
.p-line::before {
  position: absolute;
  content: "";
  background: $black;
  width: 1px;
  height: 100%;
  top: 0;
  left: rem(74);
  z-index: 10;
  transform: scaleX(var(--scaleX));
  transform-origin: top left;
}
