@use "../global" as *;

.p-line {
  position: relative;
  --scaleY: 0;
  transform-origin: top;
  z-index: 10;
}
.p-line::before {
  position: absolute;
  content: "";
  background: $black;
  width: 1px;
  height: 100%;
  top: 0;
  left: rem(8);
  z-index: 1;
  transform: scaleY(var(--scaleY));
  transform-origin: top left;
  @include mq(md) {
    position: absolute;
    content: "";
    background: $black;
    width: 1px;
    height: 100%;
    top: 0;
    left: rem(74);
    z-index: 999;
    transform: scaleY(var(--scaleY));
    transform-origin: top left;
  }
}
.p-line::after {
  position: absolute;
  content: "";
  background: $black;
  width: 1px;
  height: 100%;
  top: 0;
  right: rem(8);
  z-index: 1;
  transform: scaleY(var(--scaleY));
  transform-origin: top right;
  @include mq(md) {
    display: none;
  }
}
