@use "global" as *;

.p-other {
  padding-top: rem(130);
  padding-bottom: rem(100);
  background: #f2f2f2;
  overflow-x: clip;
}

.p-other__content {
  max-width: rem(1100);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.p-other__block {
}

.p-other__link {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}
.p-other__link::before {
  position: absolute;
  content: "other stories";
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
  font-family: $second-font-family;
  font-weight: 600;
  font-size: rem(160);
  left: rem(-168);
  top: rem(-120);
  z-index: 0;
  white-space: nowrap;
}
.p-other__link:nth-child(even) {
  flex-direction: row-reverse;
}
.p-other__link--second {
  position: relative;
}
.p-other__link--second::before {
  position: absolute;
  content: "other stories";
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
  font-family: $second-font-family;
  font-weight: 600;
  font-size: rem(160);
  left: initial;
  right: rem(-160);
  top: initial;
  bottom: rem(-120);
  z-index: 0;
  white-space: nowrap;
}
.p-other__link + .p-other__link {
  margin-top: rem(45);
}
.p-other__img {
  max-width: rem(789);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
}
.p-other__img img {
  aspect-ratio: 789 / 363;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-other__detail {
  margin-left: rem(-64);
  margin-top: rem(102);
  position: relative;
  z-index: 3;
}
.p-other__link:nth-child(even) .p-other__detail {
  margin-left: initial;
}
.p-other__link:nth-child(even) .p-other__img {
  margin-left: rem(-200);
}

.p-other__en {
  font-weight: 700;
  font-family: $second-font-family;
  font-size: rem(20);
  letter-spacing: 0.04em;
  line-height: 1.5;
  background: linear-gradient(to right, #0087c1 0%, #033fc2 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.p-other__title-wrapper {
  margin-top: rem(9);
}

.p-other__title {
  text-align: center;
  font-size: rem(130);
  color: #fff;
  font-weight: 600;
  font-family: $second-font-family;
  line-height: 1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem(30);
}

.p-other__title-ja {
  color: #fff;
  line-height: 1.5;
  font-size: rem(36);
  font-weight: 700;
  letter-spacing: 0.04em;
  background: #413c37;
  padding-left: rem(8);
  padding-right: rem(8);
  display: inline-block;
}
.p-other__title-ja + .p-other__title-ja {
  margin-top: rem(9);
}
.p-other .p-top-interview__slider-card {
  background: #fff;
}
.p-other__prev {
  position: absolute;
  left: rem(-27);
  top: 60%;
  transform: translateY(-50%);
}
.p-other__next {
  position: absolute;
  right: rem(-27);
  top: 60%;
  transform: translateY(-50%);
}
.p-other__nav-img {
  display: inline-block;
  width: rem(54);
}
.p-other__nav-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.my-swiper .swiper-scrollbar {
  position: static; /* ←スライダー外に自然配置 */
  height: 2px; /* トラックの太さ */
  background: #d9d9d9;
  margin-top: 12px; /* スライダーとの間隔 */
  overflow: hidden; /* 角丸を効かせる */
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

/* つまみ（ドラッグ部分） */
.my-swiper .swiper-scrollbar-drag {
  background: #413c37; /* 任意色 */
  height: 3px;
}
