@use "global" as *;

.p-page-mv {
  padding-top: rem(120);
}

.p-page-mv__content {
  display: flex;
  align-items: center;
  gap: rem(46);
}

.p-page-mv__detail {
  max-width: rem(564);
  width: 100%;
}

.p-page-mv__breadcrumbs {
  display: flex;
  align-items: center;
  gap: 1px;
}

.p-page-mv__breadcrumbs-list {
}

.p-page-mv__breadcrumbs-link {
  display: block;
  color: $black;
  font-size: rem(13);
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1;
  text-transform: uppercase;
}
.p-page-mv__breadcrumbs-link img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-page-mv__title-wrapper {
  margin-top: rem(40);
}
.p-page-mv__title {
  margin-top: rem(61);
}
.p-page-mv__text-wrapper {
  margin-top: rem(60);
}

.p-page-mv__text {
  font-size: rem(16);
  color: $black;
  letter-spacing: 0.04em;
  line-height: 2;
  font-weight: 700;
}

.p-page-mv__img {
  margin-right: calc(50% - 50vw);
  width: 48vw;
  margin-left: auto;
}
.p-page-mv__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
