@use "../global" as *;

.p-top-story {
  padding-top: rem(40);
  padding-bottom: rem(40);
  background: #fff;
  display: flex;
  --scaleX: 1;
  transform-origin: top;
  position: relative;
}
.p-top-story::before {
  position: absolute;
  content: "";
  background: $black;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  z-index: 10;
  transform: scaleX(var(--scaleX));
  transform-origin: top left;
}
.p-top-story__content {
}
.p-top-story__block {
  overflow: hidden;
  position: relative;
}

.p-top-story__block + .p-top-story__block {
  margin-top: rem(15);
}

.p-top-story__link {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.p-top-story__link::before {
  position: absolute;
  content: "";
  background: transparent;
  height: auto;
  object-fit: cover;
  border: 1px solid #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  aspect-ratio: 359 / 359;
  width: 95%;
  @include mq(md) {
    width: 100%;
    max-width: min(rem(1265), calc(1265 / 1440) * 100vw);
    aspect-ratio: 1265 / 507;
  }
}
.p-top-story__link:hover {
  opacity: 1;
}
.p-top-story__img {
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.p-top-story__img1 {
  /* will-change: transform; */
}
.p-top-story__img img {
  object-fit: cover;
  width: 100%;
  height: auto;
  transition: 0.3s ease-in-out;
  aspect-ratio: 359 / 359;
  @include mq(md) {
    aspect-ratio: 1300 / 540;
  }
  /* width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.08); */
}
.p-top-story__link:hover .p-top-story__img img {
  transform: scale(1.03);
}

.p-top-story__detail {
  position: absolute;
  transform: translateY(-50%);
  left: rem(23);
  top: 55%;
  width: 100%;
  @include mq(md) {
    width: 100%;
    top: 50%;
    left: initial;
    max-width: rem(520);
    right: rem(128);
  }
}

.p-top-story__num {
  color: #fff;
  font-family: $second-font-family;
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: 1;
  font-size: rem(32);
  @include mq(md) {
    font-size: rem(48);
  }
}

.p-top-story__title {
  color: #fff;
  line-height: 1.4;
  font-weight: 500;
  font-size: rem(28);
  letter-spacing: 0.06em;
  margin-top: rem(28);
  @include mq(md) {
    margin-top: rem(40);
    font-size: rem(50);
    letter-spacing: 0.04em;
  }
}

.p-top-story__bottom {
  margin-top: rem(28);
  @include mq(md) {
    margin-top: rem(50);
    display: flex;
    align-items: center;
    gap: rem(14);
  }
}

.p-top-story__text-wrapper {
}

.p-top-story__text {
  color: #413c37;
  font-weight: 500;
  letter-spacing: 1.8em;
  letter-spacing: 0.04em;
  background: rgba($color: #fff, $alpha: 0.9);
  width: fit-content;
  font-size: rem(14);
  padding-left: rem(4);
  padding-right: rem(4);
  @include mq(md) {
    font-size: rem(16);
  }
}
.p-top-story__text + .p-top-story__text {
  margin-top: rem(10);
  @include mq(md) {
    margin-top: rem(6);
  }
}
.p-top-story__arrow {
  width: 100%;
  max-width: rem(30);
  margin-top: rem(21);
  margin-left: auto;
  margin-right: rem(36);
  @include mq(md) {
    margin-left: initial;
    margin-top: initial;
    max-width: rem(50);
    margin-right: initial;
  }
}
.p-top-story__arrow img {
  aspect-ratio: 50 / 50;
  object-fit: cover;
  width: 100%;
  height: auto;
}
