@use "global" as *;

.p-top-about {
  background: $bg-gray;
  display: flex;
  position: relative;
  --scaleX: 0;
  transform-origin: top;
  padding-top: rem(70);
  padding-bottom: rem(70);
  @include mq(md) {
    padding-top: initial;
    padding-bottom: initial;
  }
}
.p-top-about::before {
  position: absolute;
  content: "";
  background: $black;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  z-index: 10;
  transform: scaleX(var(--scaleX));
  transform-origin: top left;
}

.p-top-about__content {
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(100);
  }
}

.p-top-about__title .c-section-title__en,
.p-top-about__title .c-section-title__ja {
  display: block;
}
.p-top-about__title .c-section-title__ja {
  margin-top: rem(25);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.p-top-about__row {
  display: flex;
  flex-direction: column-reverse;
  gap: rem(25);
  @include mq(md) {
    align-items: center;
    flex-direction: row-reverse;
    gap: rem(100);
  }
}

.p-top-about__img {
  width: 100%;
  margin-top: rem(25);
  @include mq(md) {
    margin-top: initial;
    max-width: rem(575);
  }
}
.p-top-about__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-top-about__detail {
  width: 100%;
  @include mq(md) {
    flex: 1;
    width: rem(474);
  }
}

.p-top-about__detail-top {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(60);
  }
}

.p-top-about__detail-title {
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.04em;
  width: fit-content;
  font-size: rem(18);
  line-height: 1.4;
  @include mq(md) {
    line-height: 1.6;
    font-size: rem(26);
  }
}
.p-top-about__detail-title + .p-top-about__detail-title {
  margin-top: rem(10);
}
.p-top-about__detail-en {
  margin-top: rem(16);
  font-size: rem(14);
  font-family: $second-font-family;
  font-weight: 400;
  color: $black;
  letter-spacing: 0.1em;
  line-height: 1.6;
}

.p-top-about__text-wrapper {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(49);
  }
}

.p-top-about__text {
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: $black;
  font-size: rem(15);
  @include mq(md) {
    font-size: rem(16);
  }
}
.p-top-about__text .c-text-gradation {
  color: #fff;
}
.p-top-about__btn {
  margin-top: rem(45);
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(md) {
    margin-top: rem(55);
    justify-content: initial;
    display: block;
    align-items: initial;
  }
}
.p-top-about__block {
  @include mq(md) {
    padding-left: rem(70);
  }
}
