@use "../global" as *;

.p-thanks {
  padding-top: rem(32);
  padding-bottom: rem(100);
  @include mq(md) {
    padding-top: rem(60);
    padding-bottom: rem(180);
  }
}

.p-thanks__title {
  font-weight: 700;
  letter-spacing: 0.04em;
  color: $black;
  line-height: 2;
  font-size: rem(20);
  @include mq(md) {
    font-size: rem(30);
    line-height: 1;
  }
}

.p-thanks__text-wrapper {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(50);
  }
}

.p-thanks__text {
  color: $black;
  line-height: 2;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(16);
  }
}
.p-thanks__text + .p-thanks__text {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(20);
  }
}

.p-thanks__btn {
  margin-top: rem(32);
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(md) {
    display: block;
    margin-top: rem(55);
  }
}
