@use "../global" as *;

.p-top-interview {
  background: #fff;
  padding-top: rem(70);
  padding-bottom: rem(70);
  --scaleX: 1;
  transform-origin: top;
  overflow-x: clip;
  position: relative;
  @include mq(md) {
    display: flex;
    padding-top: initial;
    padding-bottom: initial;
  }
}
.p-top-interview::before {
  position: absolute;
  content: "";
  background: $black;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  z-index: 10;
  transform: scaleX(var(--scaleX));
  transform-origin: top left;
}
.p-top-interview__content {
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(100);
  }
}

.p-top-interview__title .c-section-title {
  display: flex;
  align-items: flex-end;
  @include mq(md) {
    align-items: center;
    gap: rem(40);
  }
}

.p-top-interview__row {
  margin-top: rem(28);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-top-interview__gradation-text {
  color: #fff;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.06em;
  font-size: rem(18);
  background: linear-gradient(to right, #0087c1 0%, #033fc2 100%);
  padding-left: rem(8);
  padding-right: rem(8);
  @include mq(md) {
    font-size: rem(26);
  }
}

.p-top-interview__slider {
  margin-top: rem(30);
  position: relative;
  z-index: 10;
 /*  margin-right: calc(50% - 50vw); */
  @include mq(md) {
    margin-top: rem(48);
  }
}

.swiper {
}

.swiper1 {
}

.swiper-wrapper {
}

.swiper-slide {
}

.p-top-interview__slider-card {
  background: #f2f2f2;
  display: block;
  padding-top: rem(12);
  padding-bottom: rem(25);
  padding-left: rem(12);
  padding-right: rem(12);
  @include mq(md) {
    padding-top: rem(15);
    padding-left: rem(15);
    padding-right: rem(30);
    padding-bottom: rem(41);
    @media (width <= 860px) {
      padding-right: rem(20);
    }
  }
}

.p-top-interview__slider-img {
  margin-top: rem(-40);
  padding-left: rem(16);
  @include mq(md) {
    padding-left: rem(30);
  }
}
.p-top-interview__slider-img img {
  aspect-ratio: 260 / 260;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-top-interview__slider-detail {
  padding-top: rem(5);
  padding-left: rem(14);
  @include mq(md) {
    padding-left: rem(10);
  }
}

.p-top-interview__slider-name {
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.04em;
  color: $black;
  font-family: $second-font-family;
  text-transform: uppercase;
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(24);
  }
}

.p-top-interview__slider-text {
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: $black;
  font-weight: 700;
  font-size: rem(15);
  margin-top: rem(13);
  @include mq(md) {
    font-size: rem(17);
    margin-top: rem(25);
  }
}

.p-top-interview__tag-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: rem(18);
  gap: rem(10);
  @include mq(md) {
    column-gap: rem(15);
    row-gap: rem(12);
    margin-top: rem(25);
  }
}

.p-top-interview__tag {
  font-weight: 500;
  color: $black;
  letter-spacing: 0;
  line-height: 1;
  font-size: rem(10);
  @include mq(md) {
    font-size: rem(12);
  }
}
.p-top-interview__prev {
  position: absolute;
  left: rem(-27);
  top: 50%;
  transform: translateY(-50%);
}
.p-top-interview__next {
  position: absolute;
  right: rem(-27);
  top: 50%;
  transform: translateY(-50%);
}
.p-top-interview__nav-img {
  display: none;
  @include mq(md) {
    display: inline-block;
    width: rem(54);
  }
}
.p-top-interview__nav-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-top-interview__num-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.p-top-interview__no {
  font-weight: 500;
  color: $black;
  letter-spacing: 0.14em;
  font-family: $second-font-family;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: rem(8);
  font-size: rem(13);
  @include mq(md) {
    font-size: rem(16);
  }
}

.p-top-interview__num {
  font-weight: 500;
  color: $black;
  letter-spacing: 0.14em;
  font-family: $second-font-family;
  font-size: rem(24);
  @include mq(md) {
    font-size: rem(30);
  }
}
.p-top-interview__btn--sp {
  display: flex;
  justify-content: center;
  margin-top: rem(45);
  @include mq(md) {
    display: none;
  }
}