@use "global" as *;

.p-top-line {
  background: #fff;
  position: relative;
  --scaleX: 1;
  display: flex;
  transform-origin: top;
  overflow-x: clip;
  padding-top: rem(70);
  padding-bottom: rem(70);
  @include mq(md) {
    padding-top: initial;
    padding-bottom: initial;
  }
}
.p-top-line::before {
  position: absolute;
  content: "";
  background: $black;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  z-index: 10;
  transform: scaleX(var(--scaleX));
  transform-origin: top left;
}
.p-top-line__content {
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(100);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: min(rem(94), calc(94 / 1440) * 100vw);
  }
}

.p-top-line__detail {
  display: flex;
  justify-content: center;
  @include mq(md) {
    justify-content: initial;
  }
}

.p-top-line__title {
}

.p-top-line .c-section-title__ja {
  display: block;
}

.p-top-line__icon {
  display: none;
  @include mq(md) {
    display: block;
    width: rem(62);
    margin-left: rem(21);
    margin-top: rem(12);
  }
}
.p-top-line__icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-top-line__text-wrapper {
  margin-top: rem(50);
  text-align: center;
  @include mq(md) {
    margin-top: initial;
  }
}

.p-top-line__text {
  color: $black;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.8;
  font-size: rem(15);
  @include mq(md) {
    font-size: rem(16);
  }
}

.p-top-line__btn-wrapper {
  margin-top: rem(45);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include mq(md) {
    display: block;
    margin-top: initial;
  }
}

.p-top-line__btn-topText {
  color: #413c37;
  font-size: rem(16);
  font-weight: 700;
  letter-spacing: 0.04em;
  display: inline-block;
  position: relative;
  margin-bottom: rem(13);
}

.p-top-line__btn-topText::before {
  position: absolute;
  content: "";
  background: url(../images/common/line_left.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(20);
  height: auto;
  aspect-ratio: 20 / 15;
  object-fit: cover;
  top: rem(8);
  left: rem(-32);
}
.p-top-line__btn-topText::after {
  position: absolute;
  content: "";
  background: url(../images/common/line_right.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(20);
  height: auto;
  aspect-ratio: 20 / 15;
  object-fit: cover;
  top: rem(8);
  right: rem(-32);
}
.p-top-line__slider {
  margin-top: rem(70);
  @include mq(md) {
    margin-top: initial;
    padding-bottom: rem(100);
  }
}
.p-top-line__title .c-section-title {
  text-align: center;
}
.p-top-line__title .c-section-title__ja {
  padding-left: rem(37);
  margin-top: rem(25);
  @include mq(md) {
    margin-top: initial;
    padding-left: rem(23);
  }
}
.p-top-line__title .c-section-title__ja::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url(../images/common/line.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 28 / 28;
  object-fit: cover;
  width: rem(28);
  height: auto;
  @include mq(md) {
    width: rem(14);
    height: 1px;
    background: $black;
    background-repeat: initial;
    background-position: initial;
    background-size: initial;
  }
}
